
.previewCard {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 150px;
  text-align: center;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.imagePlaceholder, .textPlaceholder {
  background-color: #eaeaea;
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

.imagePlaceholder {
  width: 150px;
  height: 150px;
}

.textPlaceholder {
  width: 80%;
  height: 20px;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
