@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&display=swap');


h1,h2,h3,h4,h5,h6,p{
    font-family: 'Aref Ruqaa Ink', serif;
    font-weight: 400;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Aref Ruqaa Ink', sans-serif;
}
